.off-menu {
  position: fixed;
  max-height: 24rem;
  width: 100%;
  height: 350px;
  transform: translateY(-74.5%);
  background: transparent;
  transition: transform 0.3s ease-out, background 0.3s ease-out;

  @media only screen and (min-width: 1024px) {
    width: 50%;
  }
}

.off-menu.off-menu-opened {
  transform: translateY(25.8%);
  background: #19ca82;
  transition: transform .3s ease-out background 0.3s ease-out;
}

.off-menu .button-toggle {
  position: absolute;
  top: 100%;
  left: 165px;
}


