@import "../../../styles//variables.scss";

.off-menu {
  position: fixed;
  max-height: 24rem;
  width: 100%;
  height: 400px; //habra que veeeeeeeeeeeeeer
  top: $header-height;
  transform: translateY(-100%);
  background: transparent;
  transition: transform 0.3s ease-out, background 0.3s ease-out;

  @media only screen and (min-width: 1024px) {
    width: 28%;
    top: $header-height * 2;
  }
}

.off-menu.off-menu-opened {
  transform: translateY(calc($header-height - $header-height));
  background: #19ca82;
  transition: transform .3s ease-out, background 0.3s ease-out;
}

.off-menu .button-toggle {
  position: absolute;
  top: 100%;
  left: 165px;
}


