@import "../../styles//variables.scss";

.square {
  height: 50%;
  border: 1px solid red;
}

.header{
  height: $header-height;
  background-color: rgba(255, 0, 0, 0.5);

  @media only screen and (min-width: 1024px) {
    height: $header-height * 2;
  }
}

.footer {
  height: $footer-height;
  background-color: rgba(0, 0, 255, 0.5);
  @media only screen and (min-width: 1024px) {
    height: ($footer-height * 2) - 6px;
  }
}
