.container {
    height: 100vh;
  }
  
  .square {
    height: 50%;
    border: 1px solid red;
  }
  
  .custom-top-div {
    height: calc(1/4 * 50%);
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  .custom-bottom-div {
    height: calc(1/13 * 50%);
    background-color: rgba(0, 0, 255, 0.5);
  }